:root{
    --navy-dark: #111827;
    --orange-accent: #F59E0B;
    --creame-beige: #E5C29F;
    --white: #FFFFFF;
}
body{
    background-color: var(--navy-dark);
    color: var(--white);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

